.App {
  text-align: center;
  padding: 1rem 2rem;
  margin: 0;
  background: #f6f6f6;
  display:flex; ;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  text-align: right;
  align-items: center;
  height: 100vh;
 
}




